on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: [ "ubuntu-latest" ]
    steps:
      - uses: actions/checkout@v3
      - name: setup aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: aws-actions/amazon-ecr-login@v1
        id: ecr
      - uses: docker/metadata-action@v4
        id: image-metadata
        with:
          images: ${{ steps.ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}
          tags: |
            type=ref,event=branch
            type=sha,format=short,prefix=${{ github.ref_name }}-
      - uses: cloud-army/kaniko-action@v1.0.5
        with:
          file: Dockerfile
          tags: ${{ steps.image-metadata.outputs.tags }}
          labels: ${{ steps.image-metadata.outputs.labels }}
          push: true
          cache: true
 
      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:${{ github.sha }}

      - name: Push Docker image to ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:${{ github.sha }}
