on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: [ "ubuntu-latest" ]
    steps:
      - uses: actions/checkout@v3
      
      - name: setup aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Log in to Amazon ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Generate Docker image metadata
        uses: docker/metadata-action@v4
        id: image-metadata
        with:
          images: ${{ steps.ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}
          tags: |
            type=ref,event=branch
            type=sha,format=short,prefix=${{ github.ref_name }}-

#      - name: Build Docker image
#        run: |
#          docker build -t ${{ steps.image-metadata.outputs.tags }} .

      - name: Build Docker image
        run: |
          FIRST_TAG=$(echo "${TAGS}" | head -n 1)
          docker build -t "$FIRST_TAG" .
        env:
          TAGS: ${{ steps.image-metadata.outputs.tags }}

#      - name: Build image using Kaniko (but don't push yet)
#        uses: cloud-army/kaniko-action@v1.0.5
#        with:
#          file: Dockerfile
#          tags: ${{ steps.image-metadata.outputs.tags }}
#          labels: ${{ steps.image-metadata.outputs.labels }}
#          push: false #Don't push yet!
#          cache: false 
          
#       - name: Scan Docker image with Trivy
#         uses: aquasecurity/trivy-action@master
#         with:
#           image-ref: ${{ steps.ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:${{ steps.image-metadata.outputs.version }}
#           image-ref: ${{ steps.image-metadata.outputs.tags }}
#           format: table
#           ignore-unfixed: true
#           vuln-type: os,library
#           severity: CRITICAL,HIGH

      - name: Scan Docker image with Trivy
        run: |
          # Install trivy CLI
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://github.com/aquasecurity/trivy/releases/latest/download/trivy_0.44.0_Linux-64bit.deb
          sudo dpkg -i trivy_0.44.0_Linux-64bit.deb

          # Scan image
          FIRST_TAG=$(echo "${TAGS}" | head -n 1)
          trivy image --exit-code 1 --ignore-unfixed --severity CRITICAL,HIGH --format table "$FIRST_TAG"
        env:
          TAGS: ${{ steps.image-metadata.outputs.tags }}

          
      - name: Push Docker image to Amazon ECR
        run: |
          docker push ${{ steps.image-metadata.outputs.tags }}

#      - name: Push image to ECR (only after scan)
#        uses: cloud-army/kaniko-action@v1.0.5
#        with:
#          file: Dockerfile
#          tags: ${{ steps.image-metadata.outputs.tags }}
#          labels: ${{ steps.image-metadata.outputs.labels }}
#          push: true
#          cache: false
